
@{
    ViewData["Title"] = "GuessingGame";
}

<main>
    <h1>Guessing Game</h1>

    @if (ViewBag.msg != null)
    {
        <p class="message">@ViewBag.msg</p>
    }
        <form class="guessForm" asp-action="GuessingGame" asp-controller="Game" method="post">
            <label for"game">Guess a number between 1-100.</label>
            <input type="number" id="guess" name="guess" />
            <button type="submit">Guess</button>
        </form>

        <p class="guesses">
            Number of guesses:@if (ViewBag.nrOfGuesses != null)
            {@ViewBag.nrOfGuesses}
        </p>
    </main>
