
@{
    ViewData["Title"] = "WinMessage";
}

<main>
    @if (ViewBag.guess != null && ViewBag.nrOfGuesses != null)
    {
        <h2>Congratulations!</h2>

        <p> Your guess on number @ViewBag.guess was correct. You nailed it on @ViewBag.nrOfGuesses attempts.</p>
        <div class="button">
            <a asp-controller="Game" asp-action="GuessingGame">Play again</a>
        </div>
    }
    </main>

