<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <header>
        <div class="logo">
            <h1>Sara Stjernberg</h1>
            <h2>Web developer</h2>
        </div>
        <nav>
            <ul>
                <li>
                    <a asp-action="Index" asp-controller="Home">About me</a>
                </li>
                <li>
                    <a asp-action="Projects" asp-controller="Home">Projects</a>
                </li>
                <li>
                    <a asp-action="Contact" asp-controller="Home">Contact me</a>
                </li>
                <li>
                    <a asp-action="CheckFever" asp-controller="Doctor">Fever check</a>
                </li>
                <li>
                    <a asp-action="GuessingGame" asp-controller="Game">Guessing game</a>
                </li>
            </ul>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        <p>&copy; Sara Stjernberg</p>

        <a href="mailto:sara_stjernberg@hotmail.com"> <i class="fa fa-envelope" style="font-size:28px";></i></a>
       
    </footer>
</body>
</html>
