@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@400;700&display=swap');

body {
    background-color: blanchedalmond;
    margin: 0 auto;
    background-color: #dce7f3;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.5;
    position: relative;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 110px;
    background: rgb(185, 217, 235);
    background: radial-gradient( circle, rgba(185, 217, 235, 1) 0%, rgba(102, 153, 204, 1) 55%, rgba(102, 187, 204, 1) 100% );
    color: #fff;
}

.logo {
    margin-left: 30px;
    font-family: 'Courgette', cursive;
}

nav ul {
    display: flex;
    margin-right: 30px;
}

ul {
    list-style: none;
}

nav li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;   
}



    a span {
        color: #000;
        font-weight: bold;
    }

main {
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
 
    
    width: 60%;
    margin: 0 auto;
    
}

h1 {
    text-align: center;
}


form {
    display: flex;
    flex-direction: column;
}

    form div {
        margin-bottom: 20px;
    }

button {
    width: 60px;
    padding: 10px 15px;
    background-color: #00468B;
    color: #fff;
    border-radius: 10px;
    align-self: center;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.button {
    width: 110px;
    padding: 10px 15px;
    background-color: #00468B;
    color: #fff;
    border-radius: 10px;
    align-self: center;
    border: none;
    margin:0;
    cursor: pointer;
    display: flex;
    justify-content: center;
}

input[type=number] {
    width: 70px;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid grey;
}

footer {
    height: 80px;
    background: rgb(185, 217, 235);
    background: radial-gradient( circle, rgba(185, 217, 235, 1) 0%, rgba(102, 153, 204, 1) 55%, rgba(102, 187, 204, 1) 100% );   
    width: 100%;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

dt{
    font-weight: bold;
    margin-top: 15px;
}

section{
    justify-content: left;
}

article{
    margin-bottom: 30px;
}

.skills{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-top: 80px;
}

.guessForm input {
    margin: 15px 0;
    align-self: center;
    
}

.message{
    color: blue;
}

.guesses{
    font-style: italic;
}

.fa {
   font-size: 36px;
   color: #fff; 
   margin-left: 15px;
}