
@{
    ViewData["Title"] = "Contact";
}

<main>
    <h1 class="contact">Contact</h1>
    <dl>
        <dt>Name:</dt>
        <dd>Sara Stjernberg</dd>
        <dt>Phone:</dt>
        <dd>070 5602601</dd>
        <dt>Email:</dt>
        <dd>sara_stjernberg@hotmail.com</dd>
    </dl>
</main>
