
@{
    ViewData["Title"] = "Index";
}

<main>
    <h1>About me</h1>

    <p>
        I am a Web Developer with a background as an educator. I have a passion for coding and digital tools. My goal is to create user-friendly and creative applications and tools.
        I am a curious and creative problem solver who constantly wants to learn more.
    </p>

    <section class="skills">
        <div>
            <h2>Web developmnet skills</h2>
            <ul>
                <li>JavaScript</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>React</li>
                <li>C#</li>
                <li>ASP.NET MVC</li>
                <li>MongoDB</li>
                <li>Express</li>
            </ul>
        </div>

        <div>
            <h2>Other digital tools</h2>
            <ul>
                <li>Adobe photoshop</li>
                <li>Adobe Premiere</li>
                <li>Office 365</li>
                <li>Microstoft  Office</li>
                <li>GitHub</li>
            </ul>
        </div>
    </section>

</main>

