
@{
    ViewData["Title"] = "Projects";
}

<main>
    <h1>My Projects</h1>
    <ul>
        <li>

            <a class="project-link" href="https://github.com/stjernberg/Calculator"> 
                <span>Calculator &#187;</span>
            </a>

            <p>
                A basic console-based calculator using C#. It can
                handle basic mathematical operations (addition, subtraction, multiplication, division)
            </p>
        </li>
    </ul>
</main>


