
@{
    ViewData["Title"] = "Projects";
}

<main>
    <h1>My Lexicon projects</h1>

    <section>
        <article>
            <a class="project-link" href="https://github.com/stjernberg/Calculator">
                <span>Calculator &#187;</span>
            </a>

            <p>
                A basic console-based calculator  It can
                handle basic mathematical operations (addition, subtraction, multiplication, division)
            </p>
            <p>Language: C#</p>
        </article>
        <article>
            <a class="project-link" href="https://github.com/stjernberg/TestingCalculator">
                <span>CalculatorTest &#187;</span>
            </a>

            <p>
                An upgrade to the console calculator app. Classes are added and unit test are made.
            </p>
            <p>Language: C#</p>
        </article>
        <article>
            <a class="project-link" href="https://github.com/stjernberg/TestingCalculator">
                <span>Hangman &#187;</span>
            </a>

            <p>
                A hangman game that allows the user to guess characters or wors
            </p>
            <p>Language: C#</p>
        </article>
        <article>
            <a class="project-link" href="https://github.com/stjernberg/TodoIt">
                <span>TodoIt &#187;</span>
            </a>

            <p>
                A class based application for adding and deleting todos. Unit testing is done.
            </p>
            <p>Language: C#</p>
        </article>
        <article>
            <a class="project-link" href= https://github.com/stjernberg/VendingMachine>
                <span>Vending Machine &#187;</span>
            </a>

            <p>
                This application take requests from the user as to what product it is supposed to return. It 
                also takes payment, and send the product back to the user with an appropriate
                amount of change.
            </p>
            <p>Language: C#</p>
        </article>

        https://github.com/stjernberg/VendingMachine
    </section>
</main>


