
@{
    ViewData["Title"] = "Index";
}

<main>
<h1>Check if you have fever</h1>

<form method="post">
    <label for="temperature">Temperature:</label>
    <input type="number" id="temperature" name="temperature"/>
    <button>Check</button>
</form>
</main>

