
@{
    ViewData["Title"] = "Fever-result";
}

<main>
    <h1>Fever result</h1>


    @if (ViewBag.temp != null && ViewBag.type != null)
    {
        <p>Your temperature is @ViewBag.temp degrees @ViewBag.type.</p>
         <p>@ViewBag.message</p>
        <div class="button">
            <a asp-controller="Doctor" asp-action="CheckFever">Check again</a>
        </div>
    }


</main>

